@model IEnumerable<SalesWebMVC.Models.Ocorrencia>

@{
    ViewData["Title"] = "Index";
}

<h2>Ocorrência</h2>

<p>
    <a asp-action="Create">Inserir cadastro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroOcorrencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusOcorrencia)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroOcorrencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusOcorrencia)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
